CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
# html
latex
HeatMatrix
build
.vscode
.cmake/api/v1/reply
*.avi
test/lib
test/t_HeatMatrix[1]_include.cmake
test/t_HeatMatrix[1]_tests.cmake
